<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Edit a Post</title>
	<th:block th:include="partials/bootstrap :: styling"></th:block>
</head>
<body>
<!--Thymeleaf action syntax-->
<form th:action="@{/posts/{id}/edit (id = ${id})}"
		th:method="POST"
		th:object="${post}">
	<div class="form-group">
		<label for="title">Title</label>
		<input th:field="*{title}" type="text" class="form-control" id="title" name="title" th:value="${post.title}">
	</div>
<!--	<input type="hidden" th:value="${postToEdit.getId()}">-->
	<div class="form-group">
		<label for="body">Body</label>
		<!--Textarea elements do not have a value attribute, so we will represent the body using the th:text-->
		<textarea th:field="*{body}" class="form-control" id="body" rows="3" name="body" th:text="${post.body}"></textarea>
	</div>
	<button type="submit">Submit</button>
</form>
<th:block th:replace="partials/bootstrap :: scripts"></th:block>
</body>
</html>